body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0;
  background-color:#dddddd;
}

h1{
margin: 0;
text-align:center;
padding:0px;
background-color:#2a2a2a;
color:white;
}
nav{
  text-align:center;
  background-color:#444444;
  border:3px solid;
  border-top: 4px solid rgb(13, 230, 201);

}
nav a{
  text-decoration:none;
  padding: 0px;
  margin:22px;
  color:rgb(172, 255, 248);
  font-size:20px;
  }

#featured-property{
margin:0;
padding:0;
text-align:center;
}
h3{
  background-color:#727272;
  color:ffffff;
  border-left: 6px solid rgb(38, 0, 255);
  background-color: lightgrey;
}
a.details {
border:5px outset;
}
#details{
width: 100%;
background-color:#2a2a2a;
overflow: hidden;
}
#details div {
width:25%;
float: left;
color: white;
text-align: center;

}
p{
  font-size:18px;
}
#details div h3{
  color:blue;
}
#details div a{
  color:rgb(0, 217, 255);
}